@page "/"
@inject IStringLocalizer<Resources> Localize;


<PageTitle>Party Web App - @Localize["Home"]</PageTitle>

<h1 class="text-center mt-4">@Localize["HelloWorld"]</h1>
<p class="text-center mt-2">@Localize["SignInToUseApp"]</p>